<app-header></app-header>
<section>
    <p> Home > <span>Genres</span></p>
  </section>
  
<section class="row">
<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="../../assets/fiction.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Fiction</h5>
      <p class="card-text"></p>
      <a routerlink="/products" class="btn btn-primary">View products</a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="../../assets/comics.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Comics</h5>
      <p class="card-text"></p>
      <a routerLink="/products" class="btn btn-primary">View products</a>
    </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="../../assets/history.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">History</h5>
      <p class="card-text"></p>
      <a routerlink="/products" class="btn btn-primary">View products</a>
    </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="../../assets/story.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Story</h5>
      <p class="card-text"></p>
      <a routerlink="/products" class="btn btn-primary">View products</a>
    </div>
</div>
</section>