<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="/Home">
        <img src="../../assets/logo1.jpeg" alt="" width="120" height="120">
      </a>
      <ul>
        
       
        <li><a routerLink="/Home">Home</a></li>
        <li><a routerLink="/Genre">Genres</a></li>
        <li><a routerLink="/products">products</a></li>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/Logout">Logout</a></li>
        

      </ul>
    </div>
  </nav>
