<app-header></app-header>
<!--<section>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/card3.jpg" class="d-block w-20" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/card3.jpg" class="d-block w-20" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/card5.jpg" class="d-block w-20" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section> -->

<section class="row">
    <h2>Welcome to our bookstore</h2>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/card1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">The power of a positive attitude</h5>
          <h4>Rs.150</h4>
          <p class="card-text">by Roger Fritz</p>
          <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
        </div>
      </div>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/card2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">The Psychology of money</h5>
          <h4>Rs.199</h4>
          <p class="card-text">by Morgan Housel</p>
          <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/card3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Wise and Otherwise</h5>
          <h4>Rs.299</h4>
          <p class="card-text">by sudhamurthy</p>
          <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
        </div>
      </div> 
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/card12.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">surviving AI</h5>
          <h4>Rs.449</h4>
          <p class="card-text">by Calum chace</p>
          <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/card10.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ramayana</h5>
          <h4>Rs.649</h4>
          <p class="card-text"></p>
          <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
        </div>
      </div>
    
    </section>