<app-header></app-header>

<section>
  <p> Home > <span>Products</span></p>
</section>




<section class="row">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/card1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The power of a positive attitude</h5>
      <h4>Rs.150</h4>
      <p class="card-text">by Roger Fritz</p>
      <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
    </div>
  </div>
  <br>
  &nbsp;&nbsp;&nbsp;
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/card2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The Psychology of money</h5>
      <h4>Rs.199</h4>
      <p class="card-text">by Morgan Housel</p>
      <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/card3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Wise and Otherwise</h5>
      <h4>Rs.299</h4>
      <p class="card-text">by sudhamurthy</p>
      <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
    </div>
  </div> &nbsp;&nbsp;&nbsp;
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/card4.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Vikram & Betal</h5>
      <h4>Rs.246</h4>
      <p class="card-text"></p>
      <a routerLink="/cart" class="btn btn-primary">Add Cart </a>
    </div>
  </div>
  
</section>
<section class ="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/card12.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">surviving AI</h5>
      <h4>Rs.449</h4>
      <p class="card-text">by Calum chace</p>
      <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
    </div>
  </div>
  
   &nbsp;&nbsp;&nbsp;
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/card5.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">200+ Activities for kids</h5>
      <h4>Rs.199</h4>
      <p class="card-text"></p>
      <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/card6.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Do it today</h5>
      <h4>Rs.100</h4>
      <p class="card-text">by Darius Foroux</p>
      <a Routerlink="/cart" class="btn btn-primary">Add Cart</a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/card7.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The laws of the spirit world</h5>
      <h4>Rs.224</h4>
      <p class="card-text">by khorshed bhavnagri</p>
      <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
    </div>
  </div>
  
  
  
  
</section>
<section class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/card8.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The Fowl Twins</h5>
      <h4>Rs.399</h4>
      <p class="card-text"></p>
      <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/card9.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mahabharata</h5>
      <h4>Rs.899</h4>
      <p class="card-text"></p>
      <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/card10.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ramayana</h5>
      <h4>Rs.649</h4>
      <p class="card-text"></p>
      <a routerLink="/cart" class="btn btn-primary">Add Cart</a>
    </div>
  </div>


</section>